body{
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  /*временно*/
  min-width: 1440px;
  min-height: 2476px;
}

a {
  text-decoration: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  text-align: center;
  vertical-align: center;

  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: 0;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #e74246;
}

.header{
  background-color: #eeeeee;
}

.header__navigation{
  font-size: 16px;
  font-weight: 500; /*ПО УСЛОВИЮ ТАМ 500, НО НА ВИД 700*/
  line-height: 30px;
  text-transform: uppercase;
  /*Возникает вопрос: а нужно ли ?
    Или это только тогда, когда есть какая-то текстура
    Мое мнение, что здесь просто заливка цветом и картинка фоновая не нужна*/
  /*background-image: url("../img/grey-back.png"); */
  /*background-position: 0 0;*/
  /*background-repeat: repeat;*/
}

.header__navigation ul {
  list-style: none;
}

.header__navigation a{
  color: #000000;
}

.header__navigation a:hover,
.header__navigation a:focus {
  color: #fb565a;
}

.header__navigation a:active{
  color: #000000;
}

/*
Как лучше?
так       .header-navigation-current
или так   .header-navigation .current   ?*/
.header__navigation .current {
  /*Здесь будет создана полосочка нажатого элемента*/
}

.advantages{
  color: #000000;
  padding: 80px 80px 82px 20px;
}

.advantages__img{
  margin-bottom: 18px;
}

.advantages__h3 {
  margin: 0 0 16px 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__text{
  margin: 0 0 32px 0;
  padding-right: 35px;
  /*margin-bottom: 32px;*/
}

.advantages__ul{
  list-style: none;
  padding: 0;
}

.advantages__button-red,
.advantages__button-green,
.advantages__button-yellow {
  padding: 16px 40px 16px 40px;
}

.advantages__button-green{
  background-color: #00ca74;
}

.advantages__button-green:hover,
.advantages__button-green:focus {
  background-color: #00bc6c;
}

.advantages__button-yellow{
  background-color: #efc84a;
}

.advantages__button-yellow:hover,
.advantages__button-yellow:focus {
  background-color: #eab534;
}

.information__text-bold{
  margin: 0 0 32px 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.information__text{
  margin: 0 0 39px 0;
}

.information__text-before-ul{
  margin: 0 0 24px 0;

  font-weight: 700;
  text-transform: uppercase;
}

.information__ul{
  padding-left: 36px;
  list-style: none;
}

.information__ul li{
  padding-bottom: 24px;
}

.more-information__img {
  margin-bottom: 35px;
}

.more-information__text{
  margin: 0;
  margin-bottom: 58px;
  padding-left: 17px;

  font-weight: 700;
  text-transform: uppercase;
  /*text-align: center;*/
}

.more-information__procent{
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.more-information__procent sup{
  font-size: 28px;
  margin-bottom: 5px;
}

.our-works a{
  opacity: 0.2;
}

.our-works a:hover,
.our-works a:focus{
  opacity: 1;
}

.map-window__telephone{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.map-window__button{
  margin-top: auto;
  padding: 15px 44px 16px 44px;
}

.map-window__name{
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  margin-bottom: 22px;
}

.map-window__name ~ p{
  margin: 0;
  margin-bottom: 18px;
  padding-left: 1px;
}

/*.map-window__contacts `{*/
/*  margin: 0;*/
/*  margin-bottom: 18px;*/
/*}*/

.social-offer__text{
  margin: 0;
}

.social-offer__bold-text{
  margin: 0 0 10px 0;

  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  letter-spacing: 0.2px;
}

.social ul{
  list-style: none;
}

.social a{
  color: #000000;
  font-weight: 500; /*ПО УСЛОВИЮ ТАМ 500, НО НА ВИД 700*/
  line-height: 30px;
  text-transform: uppercase;
}

.social a:hover,
.social a:focus {
  color: #fb565a;
}

.social a:active{
  color: #000000;
}


.range-value{
  width: 80px;
  height: 38px;

  text-align: center;
  vertical-align: center;

  background-color: #eeeeee;
}

.filters{
  width: 260px;
  padding-top: 15px;
}

.filter{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}

.filter fieldset{
  border: none;
  margin: 0 0 19px 0;
  padding: 0;
}

.filter fieldset:nth-child(2){
  margin-bottom: 25px;
}

.filter legend{
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul{
  list-style: none;

  padding-left: 36px;
  margin: 16px 0 0 0;
}

.filter li{
  padding: 0 0 20px 0;
}

.filter__cost-min-input,
.filter__cost-max-input{
  display: inline-block;

  width: 80px;
  height: 38px;

  text-align: center;
  vertical-align: center;

  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
}

input.filter__cost-min-input::-webkit-inner-spin-button,
input.filter__cost-max-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.filter__input:hover + label,
.filter__input:focus + label {
  color: #283136;
}

.filter__input:disabled + label {
  color: #283132;
  opacity: 0.3;
}

.filter__button{
  padding: 17px 90px 15px 88px;

  color: #000000;
  background-color: #eeeeee;
}

.filter__button:hover,
.filter__button:focus,
.filter__button:active {
  background-color: #dfdfdf;
}

.sort__h2{
  align-self: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.sort__ul li > a{
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__ul li > a:hover,
.sort__ul li > a:focus{
  opacity: 1;
}

/*-----------------------------Сетки------------------------------*/
.header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /*Временно*/
  min-height: 132px;
}

.header__logo{
  align-self: flex-start;

  /*для пиксель-пёрфекта*/
  margin-left: -1px;
  margin-top: 1px;
}

.header__navigation{
  min-height: 83px;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation ul{
  padding: 0;
  width: 440px;

  display: flex;
  justify-content: space-between;
}

.header__shop-busket{
  display: flex;
  justify-content: flex-end;

  box-sizing: border-box;
  width: 160px;

  /*для PP*/
  padding-right: 2px;
}

.container{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
}

.fullWidthGray{
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.preview__ul{
  margin: 0;
  padding: 0;
  list-style: none;

  position: relative; /*для картиночки слайдера*/
}

.preview__h3{
  margin: 0 0 26px 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.preview__p{
  margin: 0 0 53px 0;
}

.preview__button{
  width: 240px;
  padding: 16px 55px 16px 54px;
}

/*дефолтные параметры*/
.preview__slide{
  word-wrap: break-word;
  width: 420px;
  padding-top: 60px;
  padding-bottom: 93px;
}

.preview__ul li:first-child .preview__slide{
  width: 380px;
}

.preview__ul li:nth-child(2) .preview__slide{
  width: 520px;
}

.preview__ul li:nth-child(3) .preview__slide{
  width: 415px;
}

.preview__slide img{
  position: absolute;
  right: 31px;
  bottom: 0;
}

.advantages{
  color: #000000;
  padding-right: 80px;
  padding-left: 20px;
  margin-bottom: 80px;
}

.advantages__ul{
  display: flex;
  justify-content: space-between;
}

.advantages__ul li{
  width: 300px;
}

.information{
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
}

.information__column{
  width: 660px;
  margin-top: 77px;
  margin-bottom: 33px;
}

.more-information{
  display: flex;
  flex-direction: column;

  width: 360px;
  margin-top: 43px;
}

.more-information__ul{
  width: 337px;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.more-information__ul li{
  display: flex;
  flex-direction: column;

  width: 100px;
  margin-bottom: 10px;
}

.more-information__ul p{
  line-height: 18px;
  margin-top: 37px;
}

/*our works ещё надо доделать*/
.our-works{
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /*временно для сетки*/
  min-height: 180px;
}

.our-works__ul{
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding-left: 30px;
  padding-right: 44px;
}

.our-works__ul li:first-child{
  align-self: flex-end;
}

.our-works__ul li:nth-child(4){
  align-self: flex-end;
}

.footer{
  margin-top: 84px;
}

.map{
  position: relative;

  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.map-window{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 319px;
  height: 308px;
  padding: 31px 50px 47px;

  background-color: #ffffff;

  position: absolute;
  top: 54px;
  left: 371px;
}

.social{
  display: flex;
  align-items: center;

  color: #444444;
  font-size: 16px;
  line-height: 22px;

  min-height: 217px;
}

.social__ul{
  width: 260px;
  padding: 0;
  margin: 0;
  margin-right: 138px;
}

.heading-wrapper-gray{
  display: flex;
  min-height: 224px;
  margin-bottom: 40px;

  text-align: center;
  vertical-align: center;

  background-color: #eeeeee;
}

.heading-wrapper-gray h1{
  margin: auto;
  margin-bottom: 108px;

  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0.1px;
}

.row-direction{
  display: flex;
  justify-content: space-between;
}

.filter fieldset:first-of-type{
  /*временно для сетки range*/
  min-height: 245px;
}

.filter fieldset:first-of-type legend{
  letter-spacing: 0.5px;
}

.filter fieldset:last-of-type{
  margin-bottom: 29px;
}

.column-direction{
  display: flex;
  flex-direction: column;

  width: 760px;
}

.sort{
  display: flex;

  width: 760px;
  text-transform: uppercase;
}

.sort__ul{
  display: flex;
  justify-content: space-between;
  margin-left: auto;

  width: 360px;
  list-style: none;
}

.gallery__ul-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
}

.gallery__ul-items li{
  margin-bottom: 26px;
}

.gallery__ul-pagination{
  display: flex;

  list-style: none;
  padding: 0;
}

.gallery__ul-pagination li{
  margin-right: 10px;
}

.gallery__ul-pagination li > a{
  padding: 16px 21px 15px 21px;
  border-radius: 3px;
  background-color: #eeeeee;

  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #000000;
}

.gallery__ul-pagination li > a:hover,
.gallery__ul-pagination li > a:focus{
  background-color: #dfdfdf;
}

.gallery__ul-pagination .gallery__ul-pagination-current{
  background-color: white;
  padding: 13px 17px 12px 18px;
  border: 3px solid #dbdbdb;
}

.gallery__ul-pagination .gallery__ul-pagination-next{
  padding-left: 78px;
  padding-right: 78px;
  text-transform: uppercase;
}

