body{
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  /*временно*/
  min-width: 1440px;
  min-height: 2476px;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;

  text-align: center;
  vertical-align: center;

  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: 0;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #e74246;
}

.header{
  background-color: #eeeeee;
}

.header__navigation a{
  font-size: 16px;
  font-weight: 500; /*ПО УСЛОВИЮ ТАМ 500, НО НА ВИД 700*/
  line-height: 30px;
  text-transform: uppercase;

  position: relative;
  /*Возникает вопрос: а нужно ли ?
    Или это только тогда, когда есть какая-то текстура
    Мое мнение, что здесь просто заливка цветом и картинка фоновая не нужна*/
  /*background-image: url("../img/grey-back.png"); */
  /*background-position: 0 0;*/
  /*background-repeat: repeat;*/
}

.header__navigation a.current::after{
  content: "";

  position: absolute;
  top: 27px;
  left: 50%;
  margin-left: -37px;

  width: 74px;
  height: 2px;

  background-color: #fb565a;
}

.header__navigation ul {
  list-style: none;
}

.header__navigation a{
  color: #000000;
}

.header__navigation a:hover,
.header__navigation a:focus {
  color: #fb565a;
}

.header__navigation a:active{
  color: #000000;
}

/*ужасные костыли, но зато ровно!!!!*/
.header__navigation ul li:nth-child(3){
  width: 71px;
}
.header__navigation ul li:nth-child(4){
  letter-spacing: 0.4px;
}

.header__navigation .current {
  /*Здесь будет создана полосочка нажатого элемента*/
}

.advantages{
  color: #000000;
  padding: 80px 80px 82px 20px;
}

.advantages__img{
  margin-bottom: 18px;
}

.advantages__h3 {
  margin: 0 0 16px 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__text{
  margin: 0 0 32px 0;
  padding-right: 35px;
  /*margin-bottom: 32px;*/
}

.advantages__ul{
  list-style: none;
  padding: 0;
}

.advantages__button-red,
.advantages__button-green,
.advantages__button-yellow {
  padding: 16px 40px 16px 40px;
}

.advantages__button-green{
  background-color: #00ca74;
}

.advantages__button-green:hover,
.advantages__button-green:focus {
  background-color: #00bc6c;
}

.advantages__button-yellow{
  background-color: #efc84a;
}

.advantages__button-yellow:hover,
.advantages__button-yellow:focus {
  background-color: #eab534;
}

.information__text-bold{
  margin: 0 0 32px 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.information__text{
  margin: 0 0 39px 0;
}

.information__text-before-ul{
  margin: 0 0 24px 0;

  font-weight: 700;
  text-transform: uppercase;
}

.information__ul{
  padding-left: 36px;
  list-style: none;
}

.information__ul li{
  padding-bottom: 24px;

  position: relative;
}

.information__ul li::before{
  content: "";

  width: 25px;
  height: 2px;

  position: absolute;
  left: -35px;
  top: 11px;
  background-color: #fb565a;
}

.more-information__img {
  margin-bottom: 35px;
}

.more-information__text{
  margin: 0;
  margin-bottom: 58px;
  padding-left: 17px;

  font-weight: 700;
  text-transform: uppercase;
  /*text-align: center;*/
}

.more-information__procent{
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.more-information__procent sup{
  font-size: 28px;
  margin-bottom: 5px;
}

.our-works a{
  opacity: 0.2;
}

.our-works a:hover,
.our-works a:focus {
  opacity: 1;
}

.map-window__telephone{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.map-window__button{
  margin-top: auto;
  padding: 15px 44px 16px 44px;
}

.map-window__name{
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  margin-bottom: 22px;
}

.map-window__name ~ p{
  margin: 0;
  margin-bottom: 18px;
  padding-left: 1px;
}

/*.map-window__contacts `{*/
/*  margin: 0;*/
/*  margin-bottom: 18px;*/
/*}*/

.social-offer__text{
  margin: 0;
}

.social-offer__bold-text{
  margin: 0 0 10px 0;

  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  letter-spacing: 0.2px;
}

.social__ul-item{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 79px;
  height: 79px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social__ul-item:hover,
.social__ul-item:focus{
  background-color: #e74246;
}

.range-value{
  width: 80px;
  height: 38px;

  text-align: center;
  vertical-align: center;

  background-color: #eeeeee;
}

.filters{
  width: 260px;
  padding-top: 15px;
}

.filter{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #283136;
}

.filter fieldset{
  border: none;
  margin: 0 0 19px 0;
  padding: 0;
}

.filter fieldset:nth-child(2){
  margin-bottom: 25px;
}

.filter legend{
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul{
  list-style: none;

  padding-left: 36px;
  margin: 16px 0 0 0;
}

.filter li{
  padding: 0 0 20px 0;
}

.filter__cost-min-input,
.filter__cost-max-input{
  display: inline-block;

  width: 80px;
  height: 38px;

  text-align: center;
  vertical-align: center;

  border: none;
  border-radius: 3px;
  background-color: #eeeeee;
}

input.filter__cost-min-input::-webkit-inner-spin-button,
input.filter__cost-max-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}



.label:focus  {
  color: #283136;
  opacity: 1;
}

input:disabled + label {
  opacity: 0.3;
}

.filter__button{
  padding: 17px 90px 15px 88px;

  color: #000000;
  background-color: #eeeeee;
}

.filter__button:hover,
.filter__button:focus,
.filter__button:active {
  background-color: #dfdfdf;
}

.sort__h2{
  align-self: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

/*-----------------------------Сетки------------------------------*/
.header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /*Временно*/
  min-height: 132px;
}

.header__logo{
  align-self: flex-start;

  /*для пиксель-пёрфекта*/
  margin-top: 1px;
}

.header__logo:hover img,
.header__logo:focus img{
  opacity: 0.8;
}

.header__navigation{
  min-height: 83px;
  padding: 0 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation ul{
  padding: 0;
  padding-left: 2px;
  width: 440px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__shop-busket{
  display: flex;
  justify-content: flex-end;

  box-sizing: border-box;
  position: relative;
  /*width: 160px;*/

  padding-left: 86px;
}

.header__shop-busket::before{
  content: "";

  width: 15px;
  height: 15px;

  position: absolute;
  left: 46px;
  top: 8px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.container{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 1200px;
}

.separator-horizontal{
  height: 2px;
  background-color: #eeeeee;
}

.separator-horizontal.container{
  width: 1160px;
}

.separator-vertical{
  height: 52px;
  width: 2px;
  background-color: #eeeeee;
}

.fullWidthGray{
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.preview {
  position: relative;
  background-color: #eeeeee;
}

.preview__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.preview__controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.preview__controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.preview__ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.preview__slide {
  display: none;
  padding: 60px 0 80px 0;
}

.preview__slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 0;
}

.preview__slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.preview__slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

#product-1:checked ~ .preview__ul .preview__slide:nth-child(1) {
  display: block;
}

#product-2:checked ~ .preview__ul .preview__slide:nth-child(2) {
  display: block;
}

#product-3:checked ~ .preview__ul .preview__slide:nth-child(3) {
  display: block;
}

#product-1:checked ~ .preview__controls .preview__controls-item--1::before,
#product-2:checked ~ .preview__controls .preview__controls-item--2::before,
#product-3:checked ~ .preview__controls .preview__controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.preview__slide h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.preview__slide p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.preview__button{
  padding: 17px 55px 16px 54px;
}

.advantages{
  color: #000000;
  padding-right: 80px;
  padding-left: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.advantages__ul{
  display: flex;
  justify-content: space-between;
}

.advantages__ul li{
  width: 300px;
}

.information{
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
}

.information__column{
  width: 660px;
  margin-top: 75px;
  margin-bottom: 33px;
}

.more-information{
  display: flex;
  flex-direction: column;

  width: 360px;
  margin-top: 40px;
}

.more-information__ul{
  width: 337px;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.more-information__ul li{
  display: flex;
  flex-direction: column;

  width: 100px;
  margin-bottom: 10px;
}

.more-information__ul p{
  line-height: 18px;
  margin-top: 37px;
}

/*our works ещё надо доделать*/
.our-works{
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /*временно для сетки*/
  min-height: 180px;
}

.our-works__ul{
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding-left: 30px;
  padding-right: 44px;

  margin: 0;
}

.our-works__ul li:first-child{
  align-self: flex-end;
  margin-bottom: 6px;
}

.our-works__ul li:nth-child(7){
  align-self: flex-start;
  margin-top: 6px;
}

/*.our-works__ul li:first-child{*/
/*  align-self: flex-end;*/
/*}*/

/*.our-works__ul li:nth-child(2){*/
/*  margin-left: -23px;*/
/*  margin-bottom: -6px;*/
/*}*/

/*.our-works__ul li:nth-child(3){*/
/*  margin-left: -20px;*/
/*  margin-bottom: -8px;*/
/*}*/

/*.our-works__ul li:nth-child(4){*/
/*  margin-bottom: -15px;*/
/*}*/


.footer{
  margin-top: 80px;
}

.map{
  position: relative;

  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.map-window{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 319px;
  height: 308px;
  padding: 31px 50px 47px;

  background-color: #ffffff;

  position: absolute;
  top: 54px;
  left: 371px;
}

.social{
  display: flex;
  align-items: center;

  color: #444444;
  font-size: 16px;
  line-height: 22px;

  min-height: 217px;
}

.social__ul{
  display: flex;
  justify-content: space-between;

  width: 260px;
  padding: 0;
  margin: 0;
  margin-right: 138px;

  list-style: none;
}

.heading-wrapper-gray{
  display: flex;
  min-height: 224px;
  margin-bottom: 40px;

  text-align: center;
  vertical-align: center;

  background-color: #eeeeee;
}

.heading-wrapper-gray h1{
  margin: auto;
  margin-bottom: 108px;

  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0.1px;
}

.row-direction{
  display: flex;
  justify-content: space-between;
}

.filter fieldset:first-of-type{
  /*временно для сетки range*/
  min-height: 245px;
}

.filter fieldset:first-of-type legend{
  letter-spacing: 0.5px;
}

.filter fieldset:last-of-type{
  margin-bottom: 29px;
}

.column-direction{
  display: flex;
  flex-direction: column;

  width: 760px;
}

.sort{
  display: flex;

  width: 760px;
  text-transform: uppercase;

  margin-top: -2px;
  margin-bottom: 22px;
}

.sort__ul li{
  margin-left: 26px;
}

.sort__ul{
  display: flex;
  margin-left: auto;

  padding: 0;
  min-width: 272px;
  list-style: none;
}

.sort__ul a{
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__ul a:hover,
.sort__ul a:focus{
  opacity: 1;
}

.sort__ul .current{
  opacity: 1;
}

.sort__ul + ul {
  display: flex;
  justify-content: space-between;

  width: 41px;

  padding: 0;
  margin-left: 47px;
  list-style: none;
}

.sort__ul + ul a{
  opacity: 0.3;
}

.sort__ul + ul a:hover,
.sort__ul + ul a:focus{
  opacity: 1;
}

.sort__ul + ul .current{
  opacity: 1;
}

.gallery__ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
}

.gallery__ul li{
  margin-bottom: 26px;
  position: relative;
}

.gallery__ul li:hover .product-head{
  opacity: 1;
}

.product-head{
  width: 360px;
  height: 40px;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  opacity: 0.12;
  background-image: url("../img/img-head.png");
  /*background-color: #4d4d4d;*/
  background-repeat: no-repeat;
}

.product-description{
  display: none;
}

.gallery__ul li:hover .product-description {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 360px;
  height: 231px;

  position: absolute;
  bottom: 6px;
  left: 0;

  background-color: #eeeeee;
}

.product-description .button{
  padding: 16px 60px;
}

.product-description p{
  width: 240px;
  text-align: center;
  font-weight: 400;
  line-height: 18px;

  margin-top: 0;
  margin-bottom: 30px;
}

.product-description .name{
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  margin-top: 26px;
  margin-bottom: 15px;
  margin-left: -3px;
}

.product-description .name:hover,
.product-description .name:focus {
  color: #fb565a;
}

/*.gallery__ul-item-head{*/
/*  width: 360px;*/
/*  height: 40px;*/

/*  position: relative;*/

/*  border-top-left-radius: 5px;*/
/*  border-top-right-radius: 5px;*/
/*  background-color: #4d4d4d;*/
/*}*/

/*.gallery__ul-item-head::before,*/
/*.gallery__ul-item-head::after{*/
/*  content: "";*/

/*  width: 14px;*/
/*  height: 14px;*/

/*  position: absolute;*/

/*  border-radius: 50%;*/
/*  background-color: red;*/
/*}*/

/*.gallery__ul-item-head::before{*/
/*  left: 39px;*/
/*  top: 13px;*/
/*}*/

/*.gallery__ul-item-head::after{*/
/*  left: 62px;*/
/*  top: 13px;*/
/*}*/

.gallery__ul-pagination{
  display: flex;

  list-style: none;
  padding: 0;
}

.gallery__ul-pagination li{
  margin-right: 10px;
}

.gallery__ul-pagination li > a{
  padding: 16px 21px 15px 21px;
  border-radius: 3px;
  background-color: #eeeeee;

  color: #000000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #000000;
}

.gallery__ul-pagination li > a:hover,
.gallery__ul-pagination li > a:focus{
  background-color: #dfdfdf;
}

.gallery__ul-pagination .gallery__ul-pagination-current{
  background-color: white;
  padding: 13px 17px 12px 18px;
  border: 3px solid #dbdbdb;
}

.gallery__ul-pagination .gallery__ul-pagination-next{
  padding-left: 78px;
  padding-right: 78px;
  text-transform: uppercase;
}

